.discoDiv {
    background-color: black;
    min-height: 90vh;
    display: flex;
    justify-content: center
   
}

.discoBoxDiv{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}